<header>
    <nav class="header-nav">
      <a class="header-title" href="/">Biblioteca</a>
      <ul>
        <li><a href="/autores">Autores</a></li>
        <li><a href="/autores/new">Adicionar Autor</a></li>
        <li><a href="/livros">Livros</a></li>
        <li><a href="/livros/new">Adicionar Livros</a></li>
      </ul>
    </nav>
  </header>