<h2 class="page-header">Novo Autor</h2>
<form action="/autores" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/autores">Cancelar</a>
    <button class="btn btn-primary" type="submit">Criar</button>
  </div>  
</form>